
.tab-pollo {
    border-color: #de9c14 !important;
    background-color: #de9c14 !important;
}

.tab-cerdo {
    border-color: #af6f67 !important;
    background-color: #af6f67 !important;
}

.tab-fruta {
    border-color: #1ea822 !important;
    background-color: #1ea822 !important;
}

.tab-verdura {
    border-color: #3d8306 !important;
    background-color: #3d8306 !important;
}

.tab-res {
    border-color: #e97272 !important;
    background-color: #e97272 !important;
}

.tab-pescado {
    border-color: #296d92 !important;
    background-color: #296d92 !important;
}
