
.tab-pollo {
    border-color: #de9c14 !important;
    background-color: #ffffff !important;
    border-width: medium;
}
.tab-cerdo {
    border-color: #af6f67 !important;
    background-color: #ffffff !important;
}

.tab-fruta {
    border-color: #1ea822 !important;
    background-color: #ffffff !important;
}

.tab-verdura {
    border-color: #3d8306 !important;
    background-color: #ffffff !important;
}
.tabs.is-toggle li.is-active a {
    background-color: rgb(255, 255, 255);
    border-color: #209CEF;
    color: #fff;
    z-index: 1;
    border-width: 5px;
}

.tab-res {
    border-color: #e97272 !important;
    background-color: #ffffff !important;
}

.tab-pescado {
    border-color: #296d92 !important;
    background-color: #ffffff !important;
}
