    body {
        padding-top: 0 !important;
    }

    .responsive {
        max-width: 22%;
        height: auto;
        display: block;
        margin: auto;
    }
    .navbar-item img {
        max-height: 4rem !important;
    }
    .navbar-item, .navbar-link {
        color: #4a4a4a;
        display: block;
        line-height: 1.5;
        padding: 0rem 0.75rem !important;
        position: relative;
    }
    .logo{
        max-width: 5 rem;
        height: auto;
        display: inline-block;
        margin: 0 0.5rem;
    }

    @media only screen and (max-width: 1023px) {
        .navbar-brand .navbar-item {
            margin-right: auto;
            margin-left: auto;
            left: 26px;
        }

        .navbar-burger{
            margin-left: 0 !important;
        }

        .navbar-item {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    @media only screen and (min-width: 1024px) {
        .navbar-brand img {
            max-height: 7rem !important;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .navbar-brand a {
            padding: 0 1rem !important;
        }
    }

    @-webkit-keyframes up-underline {
    0% { padding: 20px 0px; }    
    100% { padding: 6px 0px; }
    }

    @-moz-keyframes up-underline {
    0% { padding: 20px 0px; }    
    100% { padding: 6px 0px; }
    }

    @-o-keyframes up-underline {
    0% { padding: 20px 0px; }    
    100% { padding: 6px 0px; }
    }

    @keyframes up-underline {
    0% { padding: 20px 0px; }    
    100% { padding: 6px 0px; }
    }

    @-webkit-keyframes down-underline {
    0% { padding: 6px 0px; }    
    100% { padding: 20px 0px; }
    }

    @-moz-keyframes down-underline {
    0% { padding: 6px 0px; }    
    100% { padding: 20px 0px; }
    }

    @-o-keyframes down-underline {
    0% { padding: 6px 0px; }    
    100% { padding: 20px 0px; }
    }

    @keyframes down-underline {
    0% { padding: 6px 0px; }    
    100% { padding: 20px 0px; }
    }

    body{
    margin:0;
    }

    .animacion {
        text-align: center;
        line-height: 3.5;
        border-bottom: 4px solid #f69b67;
    }

    .animacion a a {
        text-align: center;
        padding: 25px 0px;
        margin-right: auto;
        font-family: arial;
        font-size: 18px;
        text-decoration: none;
        color: #282929;
    }

    .active, .animacion a a:hover{
        color: #f69b67;
        padding: 6px 0px;
        border-bottom: 3px solid #f69b67;
        -webkit-animation: up-underline .4s;
        -moz-animation: up-underline .4s;
        -o-animation: up-underline .4s;
        animation: up-underline .4s;
    }

    .animacion a a.active{
        padding: 6px 0;
        color: #f69b67;
        border-bottom: 3px solid #f69b67;
    }